* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
}

/* Header */
.header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 15px;
}

.nav_left,
.nav_right{
    height: 100%;
}

.logoSite{
    width: 120px;
    height: auto;
    margin-right: 30px;
}

.nav_ul{
    height: 100%;
}

.li_nav{
    height: 100%;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.li_nav:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.li_nav a{
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.container_buttons{
    margin-left: 20px;
}

.btnLink{
    background-color: transparent;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 10px;
    margin-right: 5px;
}

.btnLink:last-child{margin-right: 0;}

.btn_white:hover{
    background-color: #f2eee8;
}

.btn_blue{
    background-color: #0061FF;
    color: #fff;
}

.btn_blue:hover{
    background-color: #3A7AFF;
}

/* Main */

main{
    position: relative;
    z-index: 10;
    top: 60px;
    left: 0;
    width: 100%;
}

/* hero */

.hero{
    width: 100%;
    min-height: 420px;
    padding: 20px;
}

.heading_title{
    font-size: 61px;
    line-height: 72px;
}

.left_info{
    width: 67%;
}

.container_description{
    width: 50%;
    margin-bottom: 20px;
}

.description{
    font-size: 14px;
    font-weight: 400;
}

.btn_large{
    background-color: transparent;
    color: #000;
    border: none;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    cursor: pointer;
    display: inline-block;
}

.btn_large.notPadding{
    padding: 10px 0;
}

.btn_large_white:hover{
    opacity: .5;
}

.btn_large_blue{
    background-color: #0061FF;
    color: #fff;
}

.btn_large_blue:hover{
    background-color: #3A7AFF;
}

.fa-arrow-down{
    color: #000;
    font-size: 40px;
    cursor: pointer;
}

.rightBox_img{
    position: absolute;
    right: 20%;
    width: 37%;
}

.boxImg{
    width: 100%;
}

/* Plans */
.plans{
    padding: 100px 0;
}

.title_section{
    font-size: 25px;
    font-weight: 600;
}

.radioinput{
    margin-right: 40px;
}

.radioinput input{
    width: 14px;
    height: 14px;
}

.billing_text{
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
    cursor: default;
}

/* Card */

.card{
    width: calc((100% / 3) - 2%);
    border: 1px solid #d5d5d5;
}

.heading_card{
    height: 40px;
    border-bottom: 1px solid #d5d5d5;
}

.heading_card .fa-solid{
    font-size: 14px;
}

.for_plan{
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}